.main {
    margin: 0 200px 0 150px;
}

.main h1 {
    font-size: 80px;
}

.main-box {
    display: flex;
    justify-content: space-between;
}

.main .button {
    padding: 15px 50px;
    background-color: rgb(230, 219, 64);
    border: none;
    cursor: pointer;
    margin-right: 16px;
}

.main-image {
    margin: 80px 150px 0 0;
    width: 1000px;
    height: 600px;
    background-color: #fff;
}